<footer class="footer has has-background-link ">
  <div class="content  has-text-centered has has-text-white">
    <p>
      <strong class="has-text-warning">Blog Project</strong> by <a class="has-text-white has-text-weight-semibold" href="https://github.com/raphaelfcavalcante">Raphael Cavalcante</a>.
    </p>
    <p>Made with Ruby on Rails 5.2 and Bulma framework.</p>
  </div>
</footer>