<aside class="menu ">
  <p class="menu-label has-text-link">
    Picked posts
  </p>
  <ul class="menu-list">
    <li><a>Post 1</a></li>
    <li><a>Post 5</a></li>
  </ul>
  <p class="menu-label has-text-link">
    2020
  </p>
  <ul class="menu-list">
    <li><a>Post 6</a></li>
    <li><a>Post 5</a></li>
    <li><a>Post 4</a></li>
  </ul>
  <p class="menu-label has-text-link">
    2019
  </p>
  <ul class="menu-list">
    <li><a>Post 3</a></li>
    <li><a>Post 2</a></li>
    <li><a>Post 1</a></li>
  </ul>
</aside>